<h1><%= "I love " + "Ruby!!" %></h1>

<ul>
<% [1,2,4,8].each{ |square| %><li><%= square %></li> <% } %>
</ul>

<% wall_posts = ["First post!", "Second post!", "Hello, it's your mother, why don't you ever call?"] %>

<ul>
  <% wall_posts.each{ |post| %><li><%= post %> </li> <% } %>
</ul>

